[Unit]
Description = Platforms API Application

[Install]
WantedBy=multi-user.target

[Service]
User=eye-user
PermissionsStartOnly=true
ExecStart=/home/eye-user/localplatformsapp/home.py "TTD:Login:dataops@eyeota.com|TTD:PW:Dat@ops1|AppNexus:Login:eyeota_dp_admin|AppNexus:PW:eiuhuuyghh|Yahoo:Key:dj0yJmk9QUc1MndENllMT1lTJmQ9WVdrOWNGSnFURzlGTlRJbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD1kMw--|Yahoo:Secret:f2054b40d3b268cf733e8fef9665729b337926f2|Yahoo-Staging:Key:dj0yJmk9SE1BbjdQSDRVaFZYJmQ9WVdrOWQzQnhUV1pQTjJrbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD1hZA--|Yahoo-Staging:Secret:c3e9a364a74d080feb1ad0c1dae5e4436215a6a0|MediaMath:Login:asoh@eyeota.com|MediaMath:PW:3y3otaSG!!|AdobeAAM:Login:alvinsoh|AdobeAAM:PW:Pa$sw0rd1234|Adform:Login:dataops.eyeota|Adform:PW:Eyeota!123"
TimeoutSec=30
Restart=on-failure