{% extends "layout.html" %}
{% block content %}
    <div>
        <form method="POST" action="function.html">
            {{ form.hidden_tag() }}
            Select Platform: 
            <select name="platform">
            {% for PLATFORM in posts %}
                <option value="{{ PLATFORM.display_name }}">{{ PLATFORM.display_name }}</option>
            {% endfor %}
            </select>
            <br /><br />
            {{ form.submit()}}
        </form>
    </div>
{% endblock content %}