{% extends "layout.html" %}
{% block content %}
    <div>
        {% if form.platform.errors %}
            <!-- {{ form.platform() }} -->
            <div>
                {% for error in form.platform.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            Select Platform: 
            <select name="platform">
            {% for PLATFORM in posts %}
                <option value="{{ PLATFORM.display_name }}">{{ PLATFORM.display_name }}</option>
            {% endfor %}
            </select>
            <br /><br />
            {{ form.submit()}}
        </form>
    </div>
{% endblock content %}